@font-face {
    font-family: 'HelveticaNeueLT W20 75';
    src: url('HelveticaNeueLTW20-Bold.eot');
    src: url('HelveticaNeueLTW20-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTW20-Bold.woff2') format('woff2'),
        url('HelveticaNeueLTW20-Bold.woff') format('woff'),
        url('HelveticaNeueLTW20-Bold.ttf') format('truetype'),
        url('HelveticaNeueLTW20-Bold.svg#HelveticaNeueLTW20-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Arabic 55 Roman';
    src: url('HelveticaNeueLTArabic-Roman.eot');
    src: url('HelveticaNeueLTArabic-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Roman.woff') format('woff'),
        url('HelveticaNeueLTArabic-Roman.ttf') format('truetype'),
        url('HelveticaNeueLTArabic-Roman.svg#HelveticaNeueLTArabic-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Arabic 75';
    src: url('HelveticaNeueLTArabic-Bold.eot');
    src: url('HelveticaNeueLTArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic-Bold.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Bold.woff') format('woff'),
        url('HelveticaNeueLTArabic-Bold.ttf') format('truetype'),
        url('HelveticaNeueLTArabic-Bold.svg#HelveticaNeueLTArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT W20 55 Roman';
    src: url('HelveticaNeueLTW20-Roman.eot');
    src: url('HelveticaNeueLTW20-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTW20-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTW20-Roman.woff') format('woff'),
        url('HelveticaNeueLTW20-Roman.ttf') format('truetype'),
        url('HelveticaNeueLTW20-Roman.svg#HelveticaNeueLTW20-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Arabic 55 Roman';
    src: url('HelveticaNeueLTArabic-Roman_1.eot');
    src: url('HelveticaNeueLTArabic-Roman_1.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic-Roman_1.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Roman_1.woff') format('woff'),
        url('HelveticaNeueLTArabic-Roman_1.ttf') format('truetype'),
        url('HelveticaNeueLTArabic-Roman_1.svg#HelveticaNeueLTArabic-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Arabic 75';
    src: url('HelveticaNeueLTArabic-Bold_1.eot');
    src: url('HelveticaNeueLTArabic-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic-Bold_1.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Bold_1.woff') format('woff'),
        url('HelveticaNeueLTArabic-Bold_1.ttf') format('truetype'),
        url('HelveticaNeueLTArabic-Bold_1.svg#HelveticaNeueLTArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Arabic 45';
    src: url('HelveticaNeueLTArabic-Light.eot');
    src: url('HelveticaNeueLTArabic-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTArabic-Light.woff2') format('woff2'),
        url('HelveticaNeueLTArabic-Light.woff') format('woff'),
        url('HelveticaNeueLTArabic-Light.ttf') format('truetype'),
        url('HelveticaNeueLTArabic-Light.svg#HelveticaNeueLTArabic-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

